
.Blog-Container{
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 8px;
}
.Blog-Container img{
    height: 60px;
    margin-right: 20px;
}
.Blog-Container p{
    text-align: left;
}
.Blog-Container .Title{
    margin-bottom: 8px;
    font-size: 20px;
}


@media screen and (min-width: 900px){
    
    .Blog-Container img{
        height: 80px;
        margin-right: 30px;
    }
}