.Project-Categories-Bar{
    display: flex;
    padding: 12px;
    overflow: auto;
    border-top: 2px solid  rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid  rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}

.Project-Categories-Bar button{
    margin: 4px;
    padding: 14px 36px;
    border-radius: 100px;
    border: none;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1.5px;
}

.Project-Categories-Bar .Selected{
    background: linear-gradient(149.27deg, #FFFFFF85 -6.57%, #FFFFFF00 122.53%);
}

.Project-Categories-Bar .Not-Selected{
    background: var(--blue-dark);

}

.Project-Categories-Bar .Not-Selected:hover{
    cursor: pointer;
    color: var(--blue-light);
    transform: scale(1.1);
    transition-duration: 100ms;
}
