/* SUCCESS STORIES */
.Success-Stories-Heading{
    display: flex;
    justify-content: space-between;
}
.Btn-Stories-Previous{
    margin-top: 16px;
    background-color: #050F2C;
    color: #00BCE4;
    border-radius: 50%;
    border: 3px solid #00BCE4;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    font-size: 18px;
}
.Btn-Stories-Next{
    margin-top: 16px;
    background-color: #00BCE4;
    color: #050F2C;
    border-radius: 50%;
    border: 3px solid #00BCE4;
    cursor: pointer;
    height: 36px;
    width: 36px;
    font-size: 18px;
}

.Success-Stories .Stories-Container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 900px){
    
    .Btn-Stories-Previous{
        border: 3px solid #00BCE4;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        font-size: 24px;
    }
    .Btn-Stories-Next{
        border: 3px solid #00BCE4;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        font-size: 24px;
    }

}