.Home-Container{
    padding: 30px;
    padding-bottom: 60px;
    color: white;
}

.Home-Container .Top-Heading {
    font-size: 5vw;
    line-height: 1.2;
}
.Home-Container .Top-Heading *{
    margin: 16px 0;
}

.Home-Container p{
    line-height: 1.7;
    text-align: justify;
}


.Home-Sub-Container{
    margin-top: 90px;
}
.Home-Sub-Container .Heading{
    font-size: 26px;
}


@media screen and (min-width: 900px){
    .Home-Container{
        padding: 50px 170px 40px 50px;
    }

    .Home-Container .Top-Heading{
        font-size: 3vw;
    }
  
    .Home-Sub-Container .Heading{
        font-size: 40px;
    }

}




