.Portfolio-Container{
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 60px;
    color: white;
}

.Portfolio-Container .Top-Heading{
    font-size: 4vw;
    line-height: 1.2;
}
.Portfolio-Container .Top-Heading *{
    margin: 16px 0;
}

.Portfolio-Container p{
    line-height: 1.7;
    text-align: justify;
}

.Portfolio-Sub-Container{
    margin-top: 90px;
}

@media screen and (min-width: 900px){
    .Portfolio-Container{
        padding: 50px 140px 40px 50px;
    }
    .Portfolio-Container .Top-Heading{
        font-size: 2.2vw;
    }
}