
/* CLIENTS TESTINOMIALS */
.Clients-Testimonials-Heading{
    display: flex;
    justify-content: space-between;
}
.Btn-Testinomials-Previous{
    margin-top: 16px;
    background-color: var(--blue-dark);
    color: var(--blue-light);
    border-radius: 50%;
    border: 3px solid var(--blue-light);
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    font-size: 18px;
}
.Btn-Testinomials-Next{
    margin-top: 16px;
    background-color: var(--blue-light);
    color: var(--blue-dark);
    border-radius: 50%;
    border: 3px solid var(--blue-light);
    cursor: pointer;
    height: 36px;
    width: 36px;
    font-size: 18px;
}
.Testimonials-Container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.Clients-Testimonials a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: #32768F;
    margin-top: 12px;
}



@media screen and (min-width: 900px){
    
    .Btn-Testinomials-Previous{
        border: 3px solid var(--blue-light);
        height: 50px;
        width: 50px;
        margin-right: 20px;
        font-size: 24px;
    }
    .Btn-Testinomials-Next{
        border: 3px solid var(--blue-light);
        height: 50px;
        width: 50px;
        margin-right: 20px;
        font-size: 24px;
    }

}