.Nav-Bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* opacity: 0.1; */
    background-color: rgba(7, 2, 2, 0.6)
}
nav{
    transition: 100ms ease-in-out;
    background-color: #050F2C;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #00BCE440;
    max-height: 100vh;
    overflow: auto;
}

.Nav-Icon{
    height: 60px;
    margin: 12px 0 0 12px;
}

.Nav-Icon:hover{
    margin: 12px 0 0 12px;
    cursor: pointer;
}

.Nav-Items{
    list-style: none;
    overflow: auto;
}

.Nav-Items .Nav-Item{
    margin: 16px;
    margin-top: 2px;
}


.Nav-Item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}



.Btn-Contact-Us{
    margin: 16px 12px;
    background-color: var(--blue-light);
    color: #050F2C;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.Btn-Toggle-Nav{
    /* float: left;
    margin: 16px 16px; */
    float: left;
    margin: 20px 4px 16px 30px;
    background-color: #00BCE440;
    color: white;
    padding: 10px 16px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}


nav::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    border: 1px solid white;
    margin: 20px 0;
}
   
  /* Handle */
nav::-webkit-scrollbar-thumb {
    background: var(--blue-light);
    border-radius: 10px;
}
  
  /* Handle on hover */
nav::-webkit-scrollbar-thumb:hover {
    background: #111f47;
}


@media screen and (min-width: 900px){
    nav{
        width: calc(100% - 100px);
    }

    .Nav-Items{
        float: right;
        display: flex;
    }
    
    .Nav-Items .Nav-Item{
        margin: auto 22px;
        float: left;
    }


    .Btn-Contact-Us{
        margin: 8px 30px 8px 16px;
    }
    
}

