.Margin-B0{
  margin-bottom: 0;
}
  
.Margin-T0{
  margin-top: 0;
}

.Light-Blue{
  color: #00BCE4;
}

.Dark-Blue{
  color: #050F2C;
}

.Family-Vision{
  font-family: "Vision";
}

.Family-Voyager{
  font-family: "Voyager";
}