.Get-Quote-Dialog-BG{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 12;
    background-color: rgba(0,0,0,0.6); 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Get-Quote-Dialog{
    background-color: var(--blue-dark);
    border-radius: 16px;
    color: white;
    padding: 2px 15px;
    max-width: 600px;
    width: 78vw;
    border: 8px solid var(--blue-light);
    position: fixed;
    top: 150px; 
    right: 0;
    left: 0;
    z-index: 10;
    margin: auto;
}

.Get-Quote-Dialog .Text-Field{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 4px;
}
.Get-Quote-Dialog .Btn-Submit{
    box-sizing: border-box;
    display: block;
    margin: 16px auto;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue-light);
    font-weight: bold;
    font-size: 18px;
    color: var(--blue-dark);
}

.Get-Quote-Dialog .Close-Icon:hover{
    cursor: pointer;
    color: var(--blue-light);    
}

.Get-Quote-Dialog .Message{
    height: 100px;
    resize: none;
}

.Get-Quote-Dialog .Btn-Submit:hover{
    cursor: pointer;
    background-color: #22d6ff;
    transform: scale(1.01);
    transition-duration: 30ms;
}
.Get-Quote-Dialog div{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.Get-Quote-Dialog div p{
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.1;

}

.Get-Quote-Dialog .Mobile, .Get-Quote-Dialog .Name{
    margin: 0 4px 12px 0;
}

.Get-Quote-Dialog .Company, .Get-Quote-Dialog .Email{
    margin: 0 0 12px 4px;
}


@media screen and (min-width: 600px){
    
    .Get-Quote-Dialog{
        border: 12px solid var(--blue-light);
        padding: 6px 30px;
    }

    .Get-Quote-Dialog div p{
        margin-right: 10px;
        font-size: 16px;
    }

    .Get-Quote-Dialog .Mobile, .Get-Quote-Dialog .Name{
        margin: 0 8px 12px 0;
    }

    .Get-Quote-Dialog .Company, .Get-Quote-Dialog .Email{
        margin: 0 0 12px 8px;
    }

    
}
