/* OUR Services */
.Service-Category{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}
.Service-Category .fa-Circle{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 22px;
    margin-right: 16px;
    background-color: var(--blue-dark);
    color: #00BCE4;
    border-radius: 50%;
    border: 3px solid #00BCE4;
    height: 24px;
    width: 24px;
}